@using System.Web.Mvc

@model IEnumerable<MVCAjaxDemo.Models.LeadingActor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Ajax.ActionLink("Create New", "Create",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "single-LeadingActor-form"
    })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudioAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudioName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudioAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", new { id = item.Id },
                new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "single-LeadingActor-form"
                }) |
            @Ajax.ActionLink("Details", "Details", new { id = item.Id },
                new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "single-LeadingActor-form"
                }) |
            @Ajax.ActionLink("Delete", "Delete", new { id = item.Id },
                new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "single-LeadingActor-form"
                })
        </td>
    </tr>
}

</table>
<div id="single-LeadingActor-form"></div>
